In [1]:
import pymysql

In [2]:
# MySQL Connection 연결
con = pymysql.connect(host='127.0.1.1', user='root', password='root',
                       db='madang', charset='utf8')

In [3]:
# Connection 으로부터 Cursor 생성
cur = con.cursor()

In [5]:
# SQL문 실행 및 Fetch
sql = "SELECT * FROM book"
cur.execute(sql)

12

In [6]:
# 데이타 Fetch
rows = cur.fetchall()
print(rows)

((1, '축구의 역사', '굿스포츠', 7000), (2, '축구아는 여자', '나무수', 13000), (3, '축구의 이해', '대한미디어', 22000), (4, '골프 바이블', '대한미디어', 35000), (5, '피겨 교본', '굿스포츠', 8000), (6, '역도 단계별기술', '굿스포츠', 6000), (7, '야구의 추억', '이상미디어', 20000), (8, '야구를 부탁해', '이상미디어', 13000), (9, '올림픽 이야기', '삼성당', 7500), (10, 'Olympic Champions', 'Pearson', 13000), (21, 'Zen Golf', 'Pearson', 12000), (22, 'Soccer Skills', 'Human Kinetics', 15000))

In [7]:
# DataFrame 형식으로 만들기
import pandas as pd

df = pd.DataFrame(rows)
df

     0                  1               2      3
0    1             축구의 역사            굿스포츠   7000
1    2            축구아는 여자             나무수  13000
2    3             축구의 이해           대한미디어  22000
3    4             골프 바이블           대한미디어  35000
4    5              피겨 교본            굿스포츠   8000
5    6           역도 단계별기술            굿스포츠   6000
6    7             야구의 추억           이상미디어  20000
7    8            야구를 부탁해           이상미디어  13000
8    9            올림픽 이야기             삼성당   7500
9   10  Olympic Champions         Pearson  13000
10  21           Zen Golf         Pearson  12000
11  22      Soccer Skills  Human Kinetics  15000